<img src='../../assets/logo.png' width="317px" height="83px" />
<h1>Angular e .NET Core no mesmo deploy</h1>
<p>Esta é uma SPA (Single Page Application), construída com:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para o back-end no servidor</li>
  <li><a href='https://angular.io/'>Angular</a> e <a href='http://www.typescriptlang.org/'>TypeScript</a> para o front-end no cliente</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> para o layout e o estilo</li>
</ul>
<p>Para ajudar a entender:</p>
<ul>
  <li><strong>Angular CLI integrado</strong>. Em tempo de desenvovimento, não é necessário rodar <code>ng serve</code>. Isto acontece automaticamente em segundo plano, então os recursos de front-end são carregados na página, que é atualizada quando algum arquivo é modificado.</li>
  <li><strong>Build eficiente em produção</strong>. Em produção, os tempos de execução em desenvolvimento são desativado, e o <code>dotnet publish</code> configura automaticamente a chamada ao <code>ng build</code> para produzir os arquivos minificados em javascript.</li>
</ul>
<p>O subdiretório <code>ClientApp</code> é uma aplicação Angular CLI. Se abrir o terminal para este subdiretório, poderá rodar qualquer comando <code>ng</code> , ou use <code>npm</code> para instalar novos pacotes.</p>
